header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #dcdada;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #4591DF;
  border-radius: 14px;
}

.profile-icon {
  padding: 0.5rem 0.75rem;
  font-size: 1.2rem;
  color: white;
  background-color: #4591DF;
  border-radius: 50%;
}
