<header>
  <div class="header-container">
    <b>Kalories</b>
    @if (isLogin) {
      <div>
        <button class="login-btn">Sign Up</button>
      </div>
    } @else if (isSignup) {
      <div>
        <button class="login-btn">Log In</button>
      </div>
    } @else {
      <nav>
        <button [routerLink]="'/dashboard'">Dashboard</button>
        <button [routerLink]="'/progress'">Progress</button>
        <button [routerLink]="'/meals'">Meals</button>
        <button [routerLink]="'/history'">History</button>
        <div>
          <button class="profile-icon" (click)="expandProfile()">
            {{ initial }}
          </button>
          @if (isProfileExpanded) {
            <div class="profile-container">
              <button>Edit profile</button>
              <br />
              <button class="sign-out" (click)="signOut()">Sign Out</button>
            </div>
          }
        </div>
      </nav>
    }
  </div>
</header>
