<header>
  <div class="header-container">
    <b>Kalories</b>
    @if (isLogin) {
      <div>
        <button class="login-btn">Sign Up</button>
      </div>
    } @else if (isSignup) {
      <div>
        <button class="login-btn">Log In</button>
      </div>
    } @else {
      <nav>
        @for (endpoint of endpoints; track $index) {
          <button
            [routerLink]="'/' + endpoint"
            [class.active]="isActive(endpoint)"
          >
            {{ endpoint }}
          </button>
        }
        <div>
          <button class="profile-icon" (click)="expandProfile()">
            {{ initial }}
          </button>
          @if (isProfileExpanded) {
            <div class="profile-container">
              <button>Edit profile</button>
              <br />
              <button class="sign-out" (click)="signOut()">Sign Out</button>
            </div>
          }
        </div>
      </nav>
    }
  </div>
</header>
