<section>
  <div>
    <h2>Past Tracking Entries</h2>
    <p class="sub-text">
      View day-by-day progress from your completed diet plans.
    </p>
  </div>
  <div class="overview-container">
    @for (plan of plans; track plan.id) {
      <div class="plan-track">
        <div class="track-detail">
          <div class="track-date">{{ plan.date | date: "longDate" }}</div>
          <p class="sub-text mb-0">
            Weight: {{ plan.weight }}kg | Calories: {{ plan.tdee }}kcal |
            Deficit: {{ plan.intake.taken }}kcal
          </p>
          <p class="sub-text">
            Protein: {{ plan.protein.taken }}g | Carbohydrates:
            {{ plan.carbs.taken }}g | Fat: {{ plan.fat.taken }}g
          </p>
        </div>
        <a [href]="'/history/track/' + plan.id" class="view-plan-btn">
          <img src="right.svg" alt="View Plan" />
        </a>
      </div>
    }
  </div>
</section>
