section {
  max-width: 60rem;
  margin: auto;
}

.plan-track {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.track-detail > p:last-child {
  margin-top: 0.5rem !important;
}
