<section>
  <div>
    <h2>Diet Plans History</h2>
    <p class="sub-text">View your past diet plans and track your progress.</p>
  </div>
  <div class="diet-plans-list">
    @for (dietPlan of dietPlans; track dietPlan.id) {
      <div class="diet-plan">
        <div class="plan-detail">
          <div class="plan-title">{{ dietPlan.title }}</div>
          <ng-container
            *ngTemplateOutlet="
              planDetails;
              context: {
                plan: dietPlan.plan,
                goal: dietPlan.finalGoal,
                duration: dietPlan.duration,
              }
            "
          ></ng-container>
        </div>
        <a [href]="'/history/' + dietPlan.id" class="view-plan-btn">
          <img src="right.svg" alt="View Plan" />
        </a>
      </div>
    } @empty {
      <p>No available Diet plans.</p>
    }
  </div>
</section>

<ng-template
  #planDetails
  let-plan="plan"
  let-goal="goal"
  let-duration="duration"
>
  <p class="sub-text">
    @if (plan === Plan[Plan.WEIGHT_LOSS]) {
      Plan: Weight Loss | Goal: Lose {{ goal }} kg | Duration:
      {{ duration }} days
    } @else if (plan === Plan[Plan.WEIGHT_GAIN]) {
      Plan: Weight Gain | Goal: Gain {{ goal }} kg | Duration:
      {{ duration }} days
    }
  </p>
</ng-template>
