<section>
  <div>
    <h2>AI Food Suggestions</h2>
    <p class="sub-text">
      AI-powered food suggestions tailored by meal type, dietary preference, and
      global cuisine.
    </p>
  </div>
  <div class="filter-container">
    <div class="meal-filter">
      @for (filter of filters.mealFilters; track $index) {
        <button
          [class.selected]="filter === selected.mealFilter"
          (click)="addMealFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
    <div class="food-filter">
      @for (filter of filters.foodFilters; track $index) {
        <button
          [class.selected]="filter === selected.foodFilter"
          (click)="addFoodFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
    <div class="cuisine-filter">
      @for (filter of filters.cuisineFilters; track $index) {
        <button
          [class.selected]="filter === selected.cuisineFilter"
          (click)="addCuisineFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
  </div>
  <button class="suggest-btn" (click)="suggest()">Suggest Food</button>

  @if (isLoading) {
    <div class="loader">
      <div class="line"></div>
    </div>
  } @else if (isError) {
    <div class="err-msg">Something went wrong. Please try again.</div>
  } @else {
    @for (suggestFood of aiFoodSuggests; track $index) {
      <div class="food-suggest">
        <p>
          <b>{{ $index + 1 }}) {{ suggestFood.name }}</b>
        </p>
        <p class="sub-text">{{ suggestFood.description }}</p>
        <div class="macronutrients">
          <p>
            Calories
            <span class="sub-text">~{{ suggestFood.calories.total }}</span>
          </p>
          <p>
            Protein
            <span class="sub-text"
              >~{{ suggestFood.macronutrients.protein.total }}g</span
            >
          </p>
          <p>
            Carbs
            <span class="sub-text"
              >~{{ suggestFood.macronutrients.carbs.total }}g</span
            >
          </p>
          <p>
            Fat
            <span class="sub-text"
              >~{{ suggestFood.macronutrients.fat.total }}g</span
            >
          </p>
        </div>
      </div>
    }
  }
</section>
