<section>
  <div>
    <h2>AI Food Suggestions</h2>
    <p class="sub-text">
      Based on your goals and current intake, here are some recommendations.
    </p>
  </div>
  <div class="filter-container">
    <div class="meal-filter">
      @for (filter of filters.mealFilters; track $index) {
        <button
          [class.selected]="filter === selected.mealFilter"
          (click)="addMealFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
    <div class="food-filter">
      @for (filter of filters.foodFilters; track $index) {
        <button
          [class.selected]="filter === selected.foodFilter"
          (click)="addFoodFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
    <div class="cuisine-filter">
      @for (filter of filters.cuisineFilters; track $index) {
        <button
          [class.selected]="filter === selected.cuisineFilter"
          (click)="addCuisineFilter(filter)"
        >
          {{ filter }}
        </button>
      }
    </div>
  </div>
  <button class="suggest-btn" (click)="suggest()">Suggest Food</button>

  @for (suggestFood of aiFoodSuggests; track $index) {
    <div class="food-suggest">
      <p>
        <b>{{ suggestFood.name }}</b>
      </p>
      <p class="sub-text">{{ suggestFood.description }}</p>
      <div class="macronutrients">
        <p>Calories ~{{ suggestFood.calories.total }}</p>
        <p>Protein ~{{ suggestFood.macronutrients.protein.total }}g</p>
        <p>Carbs ~{{ suggestFood.macronutrients.carbs.total }}g</p>
        <p>Fat ~{{ suggestFood.macronutrients.fat.total }}g</p>
      </div>
    </div>
  }
</section>
