<section>
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="dietPlanDTO.title" />
  </div>
  <div>
    <label for="description">Description</label>
    <input
      type="text"
      name="description"
      [(ngModel)]="dietPlanDTO.description"
    />
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" name="age" [(ngModel)]="dietPlanDTO.age" />
  </div>
  <div>
    <label for="gender">Gender</label>
    <select name="gender" [(ngModel)]="dietPlanDTO.gender">
      @for (gender of genders; track $index) {
        <option [value]="gender.value">{{ gender.key }}</option>
      }
    </select>
  </div>
  <div>
    <label for="height">Height</label>
    <input type="number" name="height" [(ngModel)]="dietPlanDTO.height" />
  </div>
  <div>
    <label for="weight">Weight</label>
    <input type="number" name="weight" [(ngModel)]="dietPlanDTO.weight" />
  </div>
  <div>
    <label for="goal">Goal</label>
    <select name="goal" [(ngModel)]="dietPlanDTO.goal">
      @for (goal of goals; track $index) {
        <option [value]="goal.value">{{ goal.key }}</option>
      }
    </select>
  </div>
  <div>
    <label for="finalGoal">Final Goal</label>
    <input type="number" name="finalGoal" [(ngModel)]="dietPlanDTO.finalGoal" />
  </div>
  <div>
    <label for="timePeriod">Time Period</label>
    <input
      type="number"
      name="timePeriod"
      [(ngModel)]="timePeriodDTO.duration"
    />
    <select name="timePeriod" [(ngModel)]="timePeriodDTO.timestamp">
      <option value="days">Days</option>
      <option value="weeks">Weeks</option>
      <option value="Months">Months</option>
    </select>
  </div>
  <div>
    <label for="activity">Activity</label>
    <select name="activity" [(ngModel)]="dietPlanDTO.activity">
      @for (activity of activities; track $index) {
        <option [value]="activity.value">{{ activity.key }}</option>
      }
    </select>
  </div>
  <div>
    <label for="foodType">Food Type</label>
    <select name="foodType" [(ngModel)]="dietPlanDTO.foodType">
      @for (foodType of foodTypes; track $index) {
        <option [value]="foodType.value">{{ foodType.key }}</option>
      }
    </select>
  </div>
  <div>
    <label for="foodFilters">Food Filters</label>
    <input type="text" name="foodFilters" [(ngModel)]="foodFilters" />
  </div>
  <div>
    <button (click)="cancel()">Cancel</button>
    <button (click)="addDietPlan()">Add</button>
  </div>
</section>
