<section>
  <h2>Create Your Diet Plan</h2>
  <div>
    <p>Title</p>
    <input
      type="text"
      class="input-field"
      placeholder="Describe the diet plan's name or goal"
      [(ngModel)]="dietPlanDTO.title"
    />
  </div>
  <div class="multi-field">
    <p>Plan</p>
    @for (plan of plans; track $index) {
      <button
        [class.selected]="plan.value === selected.plan"
        (click)="selectDietPlan(plan.value)"
      >
        {{ plan.key }}
      </button>
    }
  </div>
  <div>
    <p>Age</p>
    <input
      type="number"
      class="input-field"
      placeholder="Enter your age in years"
      [(ngModel)]="dietPlanDTO.age"
    />
  </div>
  <div class="multi-field">
    <p>Gender</p>
    @for (gender of genders; track $index) {
      <button
        [class.selected]="gender.value === selected.gender"
        (click)="selectGender(gender.value)"
      >
        {{ gender.key }}
      </button>
    }
  </div>
  <div>
    <p>Height</p>
    <input
      type="number"
      class="input-field"
      placeholder="Enter your height in centimeters"
      [(ngModel)]="dietPlanDTO.height"
    />
  </div>
  <div>
    <p>Weight</p>
    <input
      type="number"
      class="input-field"
      placeholder="Enter your current weight"
      [(ngModel)]="dietPlanDTO.weight"
    />
  </div>
  <div class="multi-field">
    <p>Goal</p>
    @for (goal of goals; track $index) {
      <button
        [class.selected]="goal.value === selected.goal"
        (click)="selectGoal(goal.value)"
      >
        {{ goal.key }}
      </button>
    }
  </div>
  <div>
    <p>Final Goal</p>
    <input
      type="number"
      class="input-field"
      [placeholder]="getFinalGoalPlaceholder()"
      [(ngModel)]="dietPlanDTO.finalGoal"
    />
  </div>
  <div>
    <p>Time Period</p>
    <input
      type="number"
      class="input-field"
      placeholder="Duration to achieve the goal"
      [(ngModel)]="timePeriodDTO.duration"
    />
    <div class="multi-field">
      @for (timestamp of timestamps; track $index) {
        <button
          [class.selected]="timestamp === selected.timestamp"
          (click)="selectTimestamp(timestamp)"
        >
          {{ timestamp }}
        </button>
      }
    </div>
  </div>
  <div class="multi-field">
    <p>Activity</p>
    @for (activity of activities; track $index) {
      <button
        [class.selected]="activity.value === selected.activity"
        (click)="selectActivity(activity.value)"
      >
        {{ activity.key }}
      </button>
    }
  </div>
  <button class="primary-btn" (click)="createDietPlan()">
    Create Diet Plan
  </button>
</section>
