.macros-log-container {
  max-width: 60rem;
  margin: auto;
}

.daily-summary-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.daily-summary-container p {
  margin-top: 0;
}

.update-weight-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem 0.8rem;
  font-size: 0.85rem;
  color: white;
  background-color: #4591df;
  border: none;
  border-radius: 1rem;
}

.outer-bar {
  width: 100%;
  border-radius: 10px;
}

.inner-bar-normal {
  color: transparent;
  border-radius: 10px;
}

.inner-bar-warning {
  width: 100%;
  color: white;
  background-color: #ffcc00;
  border-radius: 10px;
}

.inner-bar-danger {
  color: white;
  width: 100%;
  background-color: red;
  border-radius: 10px;
}

.inner-bar-warning,
.bar-value-warning {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.value-warning-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.value-warning-right {
  margin-left: auto;
}

.inner-bar-danger,
.bar-value-danger {
  display: flex;
  justify-content: space-between;
}

.inner-bar-warning div:last-child {
  padding-right: 0.25rem;
}

.inner-bar-danger span:first-child {
  padding-left: 0.25rem;
}

.inner-bar-danger span:last-child {
  padding-right: 0.25rem;
}

.macros span {
  font-size: 0.8rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  padding: 0.6rem 0.8rem;
  font-size: 0.85rem;
  color: white;
  background-color: #4591df;
  border: none;
  border-radius: 1rem;
}
