<div>
  <section>
    <h1>Diet Planner</h1>
    <button (click)="openDietPlanForm()">
      <img src="add-black.svg" alt="add-diet-plan" />
      Add Diet Plan
    </button>
  </section>
  <section>
    <h2>Daily Summary</h2>
    <p>1250 calories</p>
    <div class="outer-bar">
      <div class="inner-bar">-</div>
    </div>
    <div class="macros">
      <div>
        <div>Proteins</div>
        <div>82 g</div>
      </div>
      <div>
        <div>Carbs</div>
        <div>205 g</div>
      </div>
      <div>
        <div>Fats</div>
        <div>41 g</div>
      </div>
    </div>
  </section>
  <section>
    <h2>Today's Meals</h2>
    <div class="meal">
      <div>Breakfast</div>
      <button>Add</button>
    </div>
    <div class="meal">
      <div>Lunch</div>
      <button>Add</button>
    </div>
    <div class="meal">
      <div>Dinner</div>
      <button>Add</button>
    </div>
  </section>
  <section class="action-section">
    <button>
      <img src="add-teal.svg" alt="add-food" />
      Add Food
    </button>
    <button>
      <img src="track-weight.svg" alt="track-weight" />
      Track Weight
    </button>
  </section>
  <section>
    <h2>Smart Suggestions</h2>
    <div class="suggestions">
      <button>
        <span>What should I eat now?</span>
        <img src="right.svg" alt="right-button" />
      </button>
      <button>
        <span>Low-carb dinner ideas</span>
        <img src="right.svg" alt="right-button" />
      </button>
    </div>
  </section>
</div>
