h2 {
  color: #4e4e4e;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.outer-bar {
  width: 100%;
  background-color: #dfdfdf;
  border-radius: 10px;
}

.inner-bar-normal {
  color: transparent;
  background-color: teal;
  border-radius: 10px;
}

.inner-bar-warning {
  color: white;
  width: 100%;
  background-color: #ffcc00;
  border-radius: 10px;
}

.inner-bar-danger {
  color: white;
  width: 100%;
  background-color: red;
  border-radius: 10px;
}

.inner-bar-warning,
.bar-value-warning {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.value-warning-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.value-warning-right {
  margin-left: auto;
}

.inner-bar-danger,
.bar-value-danger {
  display: flex;
  justify-content: space-between;
}

.macros {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.macros > div {
  text-align: center;
}

.meal {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid #dfdfdf;
}

.suggestions {
  display: flex;
  flex-direction: column;
}

.suggestions > button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.35rem;
}

.overlay-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-style {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.popup-style > div:first-child {
  font-size: 1.25rem;
  font-weight: bold;
}
