@if (dietPlan) {
<div>
  <section>
    <h1>{{ dietPlan.title }}</h1>
  </section>
  <section>
    <h2>Daily Summary</h2>
    <p>Calories {{ dietPlan.deficit }} / {{ dietPlan.deficit }}</p>
    <div class="outer-bar">
      <div class="inner-bar">-</div>
    </div>
    <div class="macros">
      <div>
        <p>Proteins {{ dietPlan.protein }} / {{ dietPlan.protein }} g</p>
        <div class="outer-bar">
          <div class="inner-bar">-</div>
        </div>
      </div>
      <div>
        <p>Carbs {{ dietPlan.carbs }} / {{ dietPlan.carbs }} g</p>
        <div class="outer-bar">
          <div class="inner-bar">-</div>
        </div>
      </div>
      <div>
        <p>Fats {{ dietPlan.fat }} / {{ dietPlan.fat }} g</p>
        <div class="outer-bar">
          <div class="inner-bar">-</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2>Today's Meals</h2>
    <div class="meal">
      <div>Breakfast</div>
      <button>Add</button>
    </div>
    <div class="meal">
      <div>Lunch</div>
      <button>Add</button>
    </div>
    <div class="meal">
      <div>Dinner</div>
      <button>Add</button>
    </div>
  </section>
  <section class="action-section">
    <button>
      <img src="add-teal.svg" alt="add-food" />
      Add Food
    </button>
    <button>
      <img src="track-weight.svg" alt="track-weight" />
      Track Weight
    </button>
  </section>
  <section>
    <h2>Smart Suggestions</h2>
    <div class="suggestions">
      <button>
        <span>What should I eat now?</span>
        <img src="right.svg" alt="right-button" />
      </button>
      <button>
        <span>Low-carb dinner ideas</span>
        <img src="right.svg" alt="right-button" />
      </button>
    </div>
  </section>
</div>
}
