@if (dietPlan && dietPlanTrack) {
  <div>
    <h1>{{ dietPlan.title }}</h1>
    <section>
      <h2>Daily Summary</h2>
      <div>
        <span>Today Weight</span>
        <input type="number" [(ngModel)]="dietPlanTrack.weight"/>
        <span>kg</span>
        <button (click)="addWeight()">Update</button>
      </div>
      <p>Calories {{ dietPlanTrack.deficit.taken }} / {{ dietPlanTrack.deficit.total }}</p>
      @if (dietPlanTrack.deficit.taken > dietPlanTrack.tdee) {
        <div class="outer-bar">
          <div class="inner-bar-danger">
            <span>•</span>
            <span>•</span>
            <span>•</span>
          </div>
        </div>
        <div class="bar-value-danger">
          <span>{{ dietPlanTrack.deficit.total }}</span>
          <span>{{ dietPlanTrack.tdee }}</span>
          <span>{{ dietPlanTrack.deficit.taken }}</span>
        </div>
      } @else if (dietPlanTrack.deficit.taken > dietPlanTrack.deficit.total) {
        <div class="outer-bar">
          <div class="inner-bar-warning">
            <div class="value-warning-center">•</div>
            <div class="value-warning-right">•</div>
          </div>
        </div>
        <div class="bar-value-warning">
          <div class="value-warning-center">{{ dietPlanTrack.deficit.total }}</div>
          <div class="value-warning-right">{{ dietPlanTrack.deficit.taken }}</div>
        </div>
      } @else {
        <div class="outer-bar">
          <div class="inner-bar-normal" [style.width.%]="kcalPercentage">-</div>
        </div>
      }
    </section>
    <section>
      <h2>Today's Meals</h2>
      <ng-container
        *ngTemplateOutlet="macrosTrack; context: { category: 'Breakfast', protein: meals.breakfast.protein, carbs: meals.breakfast.carbs, fat: meals.breakfast.fat }"></ng-container>
      <ng-container
        *ngTemplateOutlet="macrosTrack; context: { category: 'Lunch', protein: meals.lunch.protein, carbs: meals.lunch.carbs, fat: meals.lunch.fat }"></ng-container>
      <ng-container
        *ngTemplateOutlet="macrosTrack; context: { category: 'Dinner', protein: meals.dinner.protein, carbs: meals.dinner.carbs, fat: meals.dinner.fat }"></ng-container>
    </section>
    <section class="action-section">
      <button>
        <img src="add-teal.svg" alt="add-food"/>
        Add Food
      </button>
      <button>
        <img src="track-weight.svg" alt="track-weight"/>
        Track Weight
      </button>
    </section>
    <section>
      <h2>Smart Suggestions</h2>
      <div class="suggestions">
        <button>
          <span>What should I eat now?</span>
          <img src="right.svg" alt="right-button"/>
        </button>
        <button>
          <span>Low-carb dinner ideas</span>
          <img src="right.svg" alt="right-button"/>
        </button>
      </div>
    </section>
  </div>
}

<ng-template #macrosTrack let-category="category" let-protein="protein" let-carbs="carbs" let-fat="fat">
  <div class="meal">
    <div>{{ category }}</div>
    <button (click)="openAddKcalWindow(category)">Add</button>
  </div>
  <div class="macros">
    <p>Proteins {{ protein.taken }} / {{ protein.total }} g</p>
    <p>Carbs {{ carbs.taken }} / {{ carbs.total }} g</p>
    <p>Fats {{ fat.taken }} / {{ fat.total }} g</p>
  </div>
</ng-template>

<ng-template #addKcalWindow let-category="category" let-macros="macros">
  <div class="overlay-style">
    <div class="popup-style">
      <h3>Add {{ category }}</h3>
      <div>
        <label for="add-protein">Protein:</label>
        <input type="number" name="add-protein" [(ngModel)]="macros.protein.taken"/>
      </div>
      <div>
        <label for="add-carbs">Carbs:</label>
        <input type="number" name="add-carbs" [(ngModel)]="macros.carbs.taken"/>
      </div>
      <div>
        <label for="add-fat">Fat:</label>
        <input type="number" name="add-fat" [(ngModel)]="macros.fat.taken"/>
      </div>
      <div>
        <button (click)="closeAddKcalWindow()">Cancel</button>
        <button (click)="addKcal(category, macros)">Add</button>
      </div>
    </div>
  </div>
</ng-template>
