@if (dietPlanTrack) {
<div class="macros-log-container">
  <div>
    <h2>{{ dietPlanTrack.createdAt | date : "longDate" }}'s Macronutrients Log</h2>
    <p class="sub-text">
      Track your macronutrient intake by meal for a balance diet.
    </p>
  </div>
  <section>
    <h3>Daily Summary</h3>
    <div>
      <p>Current Weight (kg)</p>
      <input
        type="number"
        class="input-field"
        [(ngModel)]="dietPlanTrack.weight"
        readonly
      />
    </div>
    <p>
      Calories {{ dietPlanTrack.intake.taken }} / {{ dietPlanTrack.intake.total
      }}
    </p>
    @if (dietPlanTrack.intake.taken > dietPlanTrack.tdee) {
    <div class="outer-bar">
      <div class="inner-bar-danger">
        <span>•</span>
        <span>•</span>
        <span>•</span>
      </div>
    </div>
    <div class="bar-value-danger">
      <span>{{ dietPlanTrack.intake.total }}</span>
      <span>{{ dietPlanTrack.tdee }}</span>
      <span>{{ dietPlanTrack.intake.taken }}</span>
    </div>
    } @else if (dietPlanTrack.intake.taken > dietPlanTrack.intake.total) {
    <div class="outer-bar">
      <div class="inner-bar-warning">
        <div class="value-warning-center">•</div>
        <div class="value-warning-right">•</div>
      </div>
    </div>
    <div class="bar-value-warning">
      <div class="value-warning-center">{{ dietPlanTrack.intake.total }}</div>
      <div class="value-warning-right">{{ dietPlanTrack.intake.taken }}</div>
    </div>
    } @else {
    <div class="outer-bar secondary-bg-color">
      <div
        class="inner-bar-normal primary-bg-color"
        [style.width.%]="kcalPercentage"
      >
        -
      </div>
    </div>
    }
  </section>
  <section>
    <h3>Intake</h3>
    <ng-container
      *ngTemplateOutlet="
              macrosTrack;
              context: { category: 'Breakfast', macros: meals.breakfast }
            "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
              macrosTrack;
              context: { category: 'Lunch', macros: meals.lunch }
            "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
              macrosTrack;
              context: { category: 'Snack', macros: meals.snack }
            "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
              macrosTrack;
              context: { category: 'Dinner', macros: meals.dinner }
            "
    ></ng-container>
  </section>
</div>
}

<ng-template #macrosTrack let-category="category" let-macros="macros">
  <div class="meal">
    <b>{{ category }}</b>
  </div>
  <div class="macros">
    <div>
      <p>Proteins <span>(Required {{ macros.protein.total }}g)</span></p>
      <input
        type="number"
        class="input-field"
        [(ngModel)]="macros.protein.taken"
        readonly
      />
    </div>
    <div>
      <p>Carbohydrates <span>(Required {{ macros.carbs.total }}g)</span></p>
      <input
        type="number"
        class="input-field"
        [(ngModel)]="macros.carbs.taken"
        readonly
      />
    </div>
    <div>
      <p>Fat <span>(Required {{ macros.fat.total }}g)</span></p>
      <input
        type="number"
        class="input-field"
        [(ngModel)]="macros.fat.taken"
        readonly
      />
    </div>
  </div>
</ng-template>
