@if (metrics) {
  <section>
    <h2>{{ metrics.title }}</h2>
    <div class="progress-bar">
      <div>
        <div>Daily Goals</div>
        <div>{{ metrics.taken | limitreach: false }}%</div>
      </div>
      <div class="outer-bar">
        <div
          class="inner-bar-normal"
          [style.width.%]="metrics.taken | limitreach: true"
        >
          -
        </div>
      </div>
    </div>

    <div class="metrics-container">
      <div class="metrics-data-container">
        <p>Current Weight</p>
        <p>
          <b>{{ metrics.currentWeight }} kg</b>
        </p>
      </div>
      <div class="metrics-data-container">
        <p>Daily Calorie Intake</p>
        <p>
          <b>{{ metrics.intake }} kcal</b>
        </p>
      </div>
    </div>

    <div class="metrics-container">
      <div class="metrics-data-container">
        <p>Protein</p>
        <p>
          <b>{{ metrics.protein }} g</b>
        </p>
      </div>
      <div class="metrics-data-container">
        <p>Carbohydrates</p>
        <p>
          <b>{{ metrics.carbs }} g</b>
        </p>
      </div>
      <div class="metrics-data-container">
        <p>Fat</p>
        <p>
          <b>{{ metrics.fat }} g</b>
        </p>
      </div>
    </div>

    <div>
      <h3>Weight Track</h3>
      <div class="weight-track-container">
        <app-weight-track
          [days]="metrics.days"
          [weights]="metrics.weights"
        ></app-weight-track>
      </div>
    </div>
  </section>
}
