/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.w-auto {
  width: auto !important;
}

.mb-0 {
  margin-bottom: 0;
}

.primary-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem 0.8rem;
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
  background-color: #4591df;
  border: none;
  border-radius: 1rem;
}

.primary-bg-color {
  background-color: #4591df;
}

.secondary-bg-color {
  background-color: #e8eef2;
}

.sub-text {
  padding-left: 0.15rem;
  font-size: 0.85rem;
  color: gray;
}

.input-field {
  width: 25%;
  padding: 0.75rem;
  background-color: #E8EEF2;
  border: 1px solid #dce1e4;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #4591df;
  outline: none;
}
